@page "/games/new"
@inject IGameService GameService
@inject NavigationManager NavigationManager

<h3>Add Game</h3>

<EditForm Model="game" OnSubmit="HandleSubmit" FormName="AddGame">
    <label>Name</label>
    <InputText @bind-Value="game.Name">@game.Name</InputText>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    Game game {get; set;} = new();
    async Task HandleSubmit()
    {
        await GameService.AddGame(game);
        NavigationManager.NavigateTo("/games");
    }
}